/* Navbar background color, font, and font-weight*/
.navbar-brand {
  background-color: lightseagreen;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}

/* Navbar "Maya Stucky" text to white */
.navbar-light .navbar-brand {
  color: white;
}

/* Footer */
/* Referenced: https://www.w3schools.com/howto/howto_css_fixed_footer.asp for how to fix footer to bottom */
footer {
  position: fixed;
  height: 50px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: dimgray;
  text-align: center;
  color: lightslategray;
  border-top: 5px solid lightseagreen;
}

/* Creates padding for space between header and content */
main {
  padding: 70px;
}

/* Gives border to the kitten image */
.kitten {
  padding: 5px;
  float: left;
}

/* White container for content */
#whiteborder {
  background-color: white;
  padding-bottom: 10px;
}

/* Background Image */
body {
  background-image: url(background.png);
}

/* Styling for all web page headings */
h2 {
  color: lightseagreen;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  padding: 20px;
  border-bottom: 1px solid lightgrey;
}

/* Margin for kitten pic in portfolio */
.portfolio-kitten1 {
  margin: 30px;
}

/* Margin for Fill Murray pic in portfolio */
.portfolio-murray {
  margin: 30px;
  position: relative;
}

/* Changed color of button */
.btn-primary {
  background-color: lightseagreen;
}
