/* Navbar background color, font, and font-weight*/
.navbar-brand {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.navbar {
  font-family: "Montserrat", sans-serif;
  background-color: #c0e6de !important;
}

/* Navbar "Maya Stucky" text to white */
.navbar-light .navbar-brand {
  color: #de8f6e;
}

.nav-link {
  color: #de8f6e !important;
}

/* Footer */
/* Referenced: https://www.w3schools.com/howto/howto_css_fixed_footer.asp for how to fix footer to bottom */
footer {
  position: fixed;
  height: 50px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: dimgray;
  text-align: center;
  color: lightslategray;
  border-top: 5px solid lightseagreen;
}

/* Creates padding for space between header and content */
main {
  padding: 70px;
}

/* Gives border to the kitten image */
.kitten {
  padding: 5px;
  float: left;
  margin: 10px;
}

/* White container for content */
#whiteborder {
  background-color: #f4f1de;
  padding-bottom: 10px;
}

/* Background Image */
body {
  background-color: #f2cc8f;
}

/* Styling for all web page headings */
h2 {
  color: #de8f6e;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  border-bottom: 1px solid lightgrey;
}

/* Changed color of button */
.btn-primary {
  background-color: lightseagreen;
}

.portfolio-pic {
  padding-top: 10px;
  padding-bottom: 10px;
}
